@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border--black {
    border: 1px solid #000;
  }
  .rem {
    font-size: 10px;
  }

  .border--gray {
    border: 1px solid #d1d5db;
  }

  .validate-error {
    border: 50px solid red;
  }

  .sucess {
    border: 5px solid #166534;
  }
}
