@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border--black {
    border: 1px solid #000;
  }
  .rem {
    font-size: 10px;
  }

  .border--gray {
    border: 1px solid #d1d5db;
  }

  .error {
    outline: 5px solid #ef4444;
  }

  .sucess {
    outline: 5px solid #65a30d;
  }
}
